.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 80;
  padding: 20px;
  color: white;
}

.App-body {
  padding-top: 30px;
	padding-left: 30px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ReactDesktop-TextInput {
  background: rgb(97, 218, 251);
  width: 500px 
}

.ReactDesktop-InputWithSend{
  margin-bottom: 20px;
}

